{% include "base.html" %}
{% load static %}

{% block title %}
    Lista de Aniversariantes
{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>NOME</th>
            <th>ANIVERSÁRIO</th>
            <th>SETOR</th>
            <th>FOTO</th>
        </tr>
    </thead>
    {% for aniversariante in aniversariantes %}
    <tbody>
        <tr>
            <td>{{ aniversariante.nome }}</td>
        </tr>
        <tr>
            <td>{{ aniversariante.datanascimento }}</td>
        </tr>
        <tr>
            <td>{{ aniversariante.setor }}</td>
        </tr>
        <tr>
            {% if aniversariante.foto %}
                <td><img src="{{ aniversariante.foto.url }}" alt="" /></td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}